@model IEnumerable<AirQualityForecast>

@{
  ViewData["Title"] = "Air Quality Forecast";
  AirQualityForecast[] airQualityForecasts = Model.ToArray();
}

<h1>@ViewData["Title"]</h1>

<div class="row mb-3 justify-content-center">
</div>

@section Scripts
{
  <script id="forecastsSite" src="~/js/forecastsSite.js"
          airQualityForecasts='@System.Text.Json.JsonSerializer.Serialize(airQualityForecasts)'>
  </script>
}
