@model IEnumerable<AirQualityForecast>

@{
  ViewData["Title"] = "Air Quality Forecast";
}

<h1>@ViewData["Title"]</h1>

<div class="row mb-3 justify-content-center">
</div>

@section Scripts {
  <script type="text/javascript" src="~/js/forecastsSite.js"></script>
}
